*{
    box-sizing: border-box
}

body {
border: .313em solid royalblue;
width: 50%;
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: 'Libre Baskerville', serif;
}

button {
    background-color: white;
}
h1{
    border: 0.125em solid royalblue;   
    display: inline-block;
    font-size: 2em;
    /* padding: 1.250em; */
}

.js-add-bookmark  {
    border: 0.125em solid royalblue;
    font-size: 1.125em;
    /* padding: 15px 25px; */
    /* font-size: 18px; */
    font-family: 'Libre Baskerville', serif;
}

.js-add-bookmark-button, .js-close-add-bookmark-button {
    border: 0.07em solid royalblue;
    font-size: 0.7em;
    font-family: 'Libre Baskerville', serif;
}

#cancel-error{
    border: 0.05em solid red;
    font-size: 0.7em;
    font-family: 'Libre Baskerville', serif;
}

.js-remove-bookmark{
   border: 0.125em solid royalblue;
   font-size: 0.938em;
   padding: 10px;
   font-family: 'Libre Baskerville', serif;

}

.js-minimum-rating{
    border: 0.125em solid royalblue;
    margin-top: 0.625em;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125em;
    background-color: white;
}

.item-title{
    text-align: center;
}

.item-rating{
    border: 0.125em solid royalblue;
    display: inline-block;
    padding: 0.5em;
}

.js-bookmark-view{
    margin: 0;
    padding: 0.625em 0.938em;
    font-size: 1.125em;
    margin: 0.625em 0px 0.625em;
}

li {
    list-style: none;
    text-align: left;
    border: 0.125em solid royalblue;
    padding: 0.313em 0.500em 0.313em 0.500em;
    margin-right: 0.625em;
}

ul {
    padding: 1em;
    margin-top: 3em
}

#item-title, #item-url, #item-rating, #item-description {
    font-family: 'Libre Baskerville', serif;
}

form {
    font-size: 2em;
    display:inline-block;
    border: 0.1em solid royalblue;
    font-family: 'Libre Baskerville', serif;
    padding: 0.313em 0.500em 0.313em 0.500em;
}

.error-content {
    border: 0.1em solid red;
    font-size: 1em;
    display:inline-block;
    font-family: 'Libre Baskerville', serif;
    padding: 0.313em 0.500em 0.313em 0.500em;
    margin: 0.5em;
}

@media screen and (max-width: 570px){
    body {
        margin: 0px;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        display: block;
    }
}