*{
    box-sizing: border-box
}

body {
border: 1em solid darkblue;
margin-left: 4em;
margin-right: 4em;
text-align: center;
}

h1{
    border: 0.2em solid darkblue;   
}
button, select{
    border-color: darkblue;
    border-style: solid;
    border-width: 0.1em;
    padding: 1px 7px 2px;
}

ul li{
border: 0.2em solid;
border-color: lightskyblue;
list-style: none;
border-width: 0.1em;
}
.js-minimum-rating .js-add-bookmark {
width: 5%;
}
@media screen and (max-width:320px)
{
width: 100%,
}